@{
    ViewData["Title"] = "Home";
}

<div>
    <section class="hero-section">
        <div>
            <div class="hero-section-img-large">
                <img src="~/img/index_hero/img1.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img2.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img5.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img4.jpg" alt="Alternate Text" />
            </div>

            <div class="hero-section-img-small">
                <img src="~/img/index_hero/img1-s.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img2-s.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img5-s.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img4-s.jpg" alt="Alternate Text" />
            </div>

            <div class="pre-next-container">
                <div class="prev">&#10094;</div>
                <div class="next">&#10095;</div>
            </div>

            <div class="dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        

        <div class="hero-section-div">

        </div>
    </section>

    <section class="reviews-container center-center col">
        <h2>Reviews</h2>
        <div class="reviews">
            <div class="center-center col review">
                <div class="center-between header-review">
                    <h3>Emily Brown</h3>

                    <div class="fixed-rating">
                        ★★★★<span class="empty">★</span>
                    </div>

                </div>

                <p>"Absolutely loved my stay! The staff were incredibly welcoming,
                    the rooms were spotless, and the breakfast buffet had so many
                    options. I’ll definitely come back!"
                </p>
            </div>

            <div class="center-center col review">
                <div class="center-between header-review">
                    <h3>Daniel Smith</h3>

                    <div class="fixed-rating">
                        ★★★<span class="empty">★★</span>
                    </div>

                </div>

                <p>
                    "Great location right in the city center. The room was a bit small, 
                    but the service and rooftop view made up for it. Highly recommended 
                    for short stays."
                </p>
            </div>

            <div class="center-center col review">
                <div class="center-between header-review">
                    <h3>Sophia Müller</h3>

                    <div class="fixed-rating">
                        ★★★★<span class="empty">★</span>
                    </div>

                </div>

                <p>
                    "Very modern hotel with comfortable beds and fast Wi-Fi. 
                    The spa area was amazing after a long day of exploring the city."
                </p>
            </div>

            <div class="center-center col review">
                <div class="center-between header-review">
                    <h3>Lucas Rossi</h3>

                    <div class="fixed-rating">
                        ★★★<span class="empty">★★</span>
                    </div>

                </div>

                <p>
                    "The hotel is nice, but the air conditioning wasn’t working properly during my stay.
                    Staff did try to help, but it took time to fix. Overall, average experience."
                </p>
            </div>

            <div class="center-center col review">
                <div class="center-between header-review">
                    <h3>Hanah Novak</h3>

                    <div class="fixed-rating">
                        ★★★★<span class="empty">★</span>
                    </div>

                </div>

                <p>
                    "Everything was perfect — from check-in to check-out. 
                    The pool area is beautiful, and the cocktails at the bar were delicious!"
                </p>
            </div>

            <div class="center-center col review">
                <div class="center-between header-review">
                    <h3>Oliver Brown</h3>

                    <div class="fixed-rating">
                        ★★★★<span class="empty">★</span>
                    </div>

                </div>

                <p>
                    "Good value for money. The breakfast could use a 
                    bit more variety, but the friendly staff made the stay really enjoyable."
                </p>
            </div>
        </div>
    </section>

    <section class="contact center-center">
        <form id="Form" action="" method="post" class="center-center col">
            <h3>Contact Us</h3>
            <div class="inputs">
                <div>
                    <label>Name</label> <br />
                    <input  type="text" /> <br />
                 </div>

                 <div>
                    <label>Email</label><br />
                    <input  type="password" /> <br />
                 </div>

                <div>
                    <label>Phone</label><br />
                    <input type="tel" /> <br />
                </div>

                <div>
                    <label>Note</label><br />
                    <textarea></textarea>
                </div>

                 <div class="center-center">
                    <button type="submit" name="submit">Send</button>
                 </div>
            </div>
        </form>
    </section>
</div>