@{
	ViewData["Title"] = "Terms & Conditions";
}

<div class="Terms">
	<h1>Terms & Conditions</h1>
	<ol>

		<li>
			Booking Policy

			<ul>
				<li>
					Reservation confirmation process.
				</li>
				<li>
					Deposit or prepayment requirements.
				</li>
			</ul>
		</li>
		<li>

			Cancellation & Refund Policy
			<ul>
				<li>Deadline for free cancellation.</li>
				<li>Any penalties for late cancellation or no-show.</li>
			</ul>
		</li>
		<li>

			Check-in / Check-out
			<ul>
				<li>Standard times (e.g., Check-in: 2 PM, Check-out: 12 PM).</li>

			</ul>
		</li>

		<li>

			Payment Policy
			<ul>
				<li>
					Accepted payment methods (credit card, cash, etc.).
				</li>
				<li> Security for online payments.</li>

			</ul>
		</li>
		<li>

			Guest Responsibilities

			<ul>
				<li>
					Valid ID required at check-in.
				</li>
				<li> Responsible use of hotel property.</li>

			</ul>
		</li>
		<li>

			Hotel’s Liability
			<ul>
				<li>
					Disclaimer for lost items, force majeure, etc.
				</li>


			</ul>
		</li>
	</ol>
</div>

